body, html {
    margin: 0;
    padding: 0;
    text-align: center;
}

img {
    width: 20vw;
    height: auto;
    border-radius: 100%;
    border: 2px solid black;
    transition: 1s;
}

img:hover {
    transition: 1s;
    width: 30vw;
}

a {
    text-decoration: none;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #330033;
    padding-top: 25px;
    margin: 0;
}

p {
   font-family: 'Oswald', sans-serif;
    text-indent: 1.5em;
    text-align: left;
    padding: 15px;
}

/* LIST */
.list {
    font-family: 'Raleway', sans-serif;
}

/* BUTTONS */
.btn {
    border: 2px solid white;
    border-radius: 3px;
    padding: 10px;
    display: inline-block;
    background: white;
    font-family: 'Raleway', sans-serif;
    color: black;
    transition: 2s;
    
}
.btn:hover{
    border: 2px solid black;
    transition: 1s;
    
}

.top-button {
    border: 0;
    border-radius: 100%;
    border: 2px solid black;
    font-family: 'Raleway', sans-serif;
    width: 5vw;
    height: 5vw;
    min-width: 50px;
    min-height: 50px;
    background: white;
    position: fixed; /* Фиксированное положение */
    right: 5px; /* Расстояние от правого края окна браузера */
    bottom: 2%;

    transition: 1s;
}

.top-button:hover{
    background: black;
    color: white;
    transistion: 1s;
}

.top-button:active{
    outline: none;
    background: black;
    color: white;
    transistion: 1s;
}

#head-menu{margin-top: 75px;} /* Отступ для кнопок */

.header {
    margin: 0;
    width: 98vw;
    height: 100vh;
}

.grid {
  display: flex;
        justify-content: center;
}

.grid-cell {
  flex: 1;
}

.grid-cell2 {
  flex: 2;
}

.signature {
    font-family: 'Indie Flower', cursive;
}
/* -- ICONS --*/
.icon {
    transition: 1s;
}

.icon:hover {
    transition: 1s;
    font-size: 20px;
}

#email, #github {
    color: black;
}

#telegram {
    color: cornflowerblue;
}

#vk {
    color: blue;
}

.down-hand {
    color: black;
    font-size: 16px;
}
.push {
  list-style: none;
  font-family: "Lucida Sans";
}
.push li {
  position: relative;
  padding: 20px 0 20px 40px;
  color: #330033;
  font-weight: bold;
  cursor: pointer;
}
.push li:before {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #4F5151;
  content: "";
  left: 0;
  transition: .3s ease-in-out;
  top: 27px;
}
.push li:after {
  position: absolute;
  border-left: 1px dotted #4F5151;
  width: 1px;
  bottom: -12px;
  content: "";
  left: 3px;
  top: 48px;
}
.push li:hover:before{box-shadow: 0 0 0 10px rgba(0,0,0,.2)}
.push li:last-child:after {content: none;}