@font-face {
      font-family: 'git';
      src: url('../../font/git.eot?57362010');
      src: url('../../font/git.eot?57362010#iefix') format('embedded-opentype'),
           url('../../font/git.woff?57362010') format('woff'),
           url('../../font/git.ttf?57362010') format('truetype'),
           url('../../font/git.svg?57362010#git') format('svg');
      font-weight: normal;
      font-style: normal;
    }
     
     
    .icon
    {
      font-family: "git";
      font-style: normal;
      font-weight: normal;
      speak: none;
     
      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      margin: 5px;
      text-align: center;
     
}